---
layout: home-page
---

<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="item-inside__meta" style="margin-top: 2rem;">
        <div class="site-tagline">
            <p>{{ site.data.settings.headline }}</p>
        </div>
    </div>    
    
    {% if site.portofolio %}
      {% assign items = site.portofolio %}
    {% else %}
      {% assign items = site.data.sample_portofolio %}
    {% endif %}

    {% assign categories = "" | split: ',' %}
    {% for item in items %}
      {% if item.category %}
        {% assign categories = categories | push: item.category %}
      {% endif %}      
    {% endfor %}

    {% assign categories = categories | uniq %}


    {% include portofolio_tabs.html categories=categories %}
    {% include portofolio_items.html items=items %}
</section>