---
layout: home-page
---


<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="item-inside__meta" style="margin-top: 2rem;">
        <div class="site-tagline">
            <p>{% if site.tagline %}{{ site.tagline }}{% else %}{{ site.fallback.tagline }}{% endif %}</p>
        </div>
    </div>    
    <div class="au-xs-ta-center">
    <ul class="rk-menu rk-categories-menu filters">
      <li class="rk-menu__item active">
        <a class="rk-menu__link filter fil-cat" data-rel="all">All</a>
      </li>
      <li class="rk-menu__item">
        <a class="rk-menu__link filter fil-cat" data-rel="logo">Logo</a>
      </li>
      <li class="rk-menu__item">
        <a class="rk-menu__link filter fil-cat" data-rel="web">Web</a>
      </li>
      <li class="rk-menu__item">
        <a class="rk-menu__link filter fil-cat" data-rel="app">App</a>
      </li>
    </ul>

    </div>
    <div class="rk-portfolio__items">
      {% include portofolio_items.html %}
    </div>
</section>