  <footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
<!--         <ul class="rk-menu rk-footer-menu">
          <li class="rk-menu__item"><a href="about.html" class="rk-menu__link">About</a>
          </li>
          <li class="rk-menu__item"><a href="documentation.html" class="rk-menu__link">Docs</a>
          </li>
          <li class="rk-menu__item"><a href="contact.html" class="rk-menu__link">Contact</a>
          </li>
        </ul> -->
        <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{ site.current_year }} {{ site.brand_name }} </span></p>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center">

      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
        <p class="rk-footer__text rk-footer__by">
          Didesain oleh <a href="https://kapiten.id" class="ae-u-bolder">Kapiten</a> sebagai bagian proyek <a href="https://berisi.id" class="ae-u-bolder">Panduan Olshop Kapiten</a>
        </p>
      </div>
    </div>
  </footer>