<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<title>{{ site.data.settings.title }}</title>
<link rel="icon" type="image/svg+xml" href="{{ site.data.settings.styling.favicon }}">

<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
<link rel="stylesheet" href="assets/css/aurora-pack.css">
<link rel="stylesheet" href="assets/css/aurora-theme-base.css">
<link rel="stylesheet" href="assets/css/urku.css">
<link rel="stylesheet" href="assets/css/main-custom.css">

{% seo %}
