<header class="ae-container-fluid ae-container-fluid--full rk-header ">

  <div class="ae-container-fluid rk-topbar">
    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li class="active rk-menu__item">
          <a class="" href="/">
            <div class="span-logo">
              <img src="{{ site.data.settings.styling.logo }}" /> 
            </div>
            <div class="rk-logo" style="display: none;">
              <a>{{ site.data.settings.brand_name }}</a>
            </div>            
          </a>
        </li>
      </ul>
      <!-- Include search.html here if you want -->
    </nav>
  </div>

</header>