<a href="#cd-nav" class="cd-nav-trigger">Menu 
    <span class="cd-nav-icon"></span>

    <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
        <circle fill="transparent" stroke="#90D4C5" stroke-width="2" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
    </svg>
</a>
    
<div id="cd-nav" class="cd-nav">
    <div class="cd-navigation-wrapper">
        <div class="cd-half-block">


            <nav>
                <ul class="cd-primary-nav">
                    <li><a href="index.html" class="selected">Showcase</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="#">Docs</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div><!-- .cd-half-block -->
        
        <div class="cd-half-block">
            <address>
                <ul class="cd-contact-info">
                    <li><a href="mailto:info@myemail.co">info@myemail.co</a></li>
                    <li>0244-12345678</li>
                </ul>
                <ul class="cd-contact-socials">
                    <li><a href="#0">Instagram</a></li>   
                    <li><a href="#0">Behance</a></li>   
                    <li><a href="#0">Dribbble</a></li>    
                </ul>
            </address>
        </div> <!-- .cd-half-block -->
    </div> <!-- .cd-navigation-wrapper -->
</div> <!-- .cd-nav -->