<div class="rk-portfolio__items">
  {% for item in items %}
      <a  href="#" 
          class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square " 
          data-cat="{{ item.category }}"
          style="background-image: url('{{ item.display_picture  }}');">

          <div class="item-meta">
              <h2>{{ item.title }}</h2>
              <p><small><strong>Rp. {{ item.price }}</strong></small></p><br>

              <p>{{ item.description | markdownify }}</p>
          </div>

      </a>
  {% endfor %}
</div>