{% if site.data.portofolio %}
  {% assign items = site.data.portofolio %}
{% else %}
  {% assign items = site.data.sample_portofolio %}  
{% endif %}



{% for item in items %}
    <a  href="#" 
        class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square " 
        data-cat="{{ item.category }}"
        style="background-image: url('{{ item.display_picture  }}');">

        <div class="item-meta">
            <h2>{{ item.title }}</h2>
            <p>{{ item.short_description }}</p>
        </div>

    </a>
{% endfor %}