header .span-logo {
  display: inline-block;
  vertical-align: top;
  height: 80px;
  width: 80px;  
/*  height: 118px;
  width: 152px;*/
} 

header .span-logo img {
  max-width: 200%;
  max-height: 200%;  
}

header .rk-logo {
  display: table;
  margin-top: 15px;
}

header .rk-logo a {
  display: table-cell; 
  vertical-align: middle;
  text-align: left;
  font-family: 'Parisienne', cursive;
  text-transform: none;
  font-size: 32px;  
}


.item-inside__meta {
  margin-top: 2rem;
}

@media (min-width: 64em) {
  .site-tagline {
      margin-bottom: 100px;
      width: 75%;
  }

  .site-tagline p {
      font-size: 48px;
      color: #2c2c2c;
      text-align: left;
      width: 90%;
  }
}

@media (max-width: 64em) {
  .site-tagline {
      margin-bottom: 30px;
      width: 100%;
  }

  .site-tagline p {
      font-size: 21px;
      color: #2c2c2c;
      text-align: left;
      width: 100%;
  }
}